<%- include("../Layout/header") %>

<%- include("../Layout/navbar") %>




  <body class="goto-here">
		<div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">shoekart777@gmail.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>


    
   

          <div class="col-md-6 d-flex">


           <form action="/user-editprofile/<%= currentUser._id %>" method="post" class="bg-white p-5 contact-form">
				<h2>Edit peresonal info</h2>
				<div class="form-group">
					<h4>Name</h4>
					<input type="text" class="form-control" name="name" value=" <%= currentUser.name %> ">
				</div>
				<div class="form-group">
					<h4>Email</h4>
					<input type="text" class="form-control" name="email" value="<%= currentUser.email %> ">
				</div>
				<div class="form-group">
					<h4>Phone</h4>
					<input type="text" class="form-control" name="phone" value="<%= currentUser.phone %> ">
				</div>
			
				<!-- Add a hidden input field to store the addressId -->
				<input type="hidden" name="userId" value="<%= currentUser._id %> ">
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-primary py-3 px-5">
				</div>
			</form>

          	
          </div>
        </div>
      </div>
    </section> 
    <section class="ftco-gallery ftco-section ftco-no-pb">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
            <h2 class="mb-4">Follow Us On Instagram</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
    		</div>
    	</div>
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/User/images/gallery-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/User/images/gallery-2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/User/images/gallery-3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/User/images/gallery-4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/User/images/gallery-5.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-4 col-lg-2 ftco-animate">
						<a href="images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/User/images/gallery-6.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>

    <%- include("../Layout/footer") %>


    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/User/js/jquery.min.js"></script>
  <script src="/User/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/User/js/popper.min.js"></script>
  <script src="/User/js/bootstrap.min.js"></script>
  <script src="/User/js/jquery.easing.1.3.js"></script>
  <script src="/User/js/jquery.waypoints.min.js"></script>
  <script src="/User/js/jquery.stellar.min.js"></script>
  <script src="/User/js/owl.carousel.min.js"></script>
  <script src="/User/js/jquery.magnific-popup.min.js"></script>
  <script src="/User/js/aos.js"></script>
  <script src="/User/js/jquery.animateNumber.min.js"></script>
  <script src="/User/js/bootstrap-datepicker.js"></script>
  <script src="/User/js/scrollax.min.js"></script>
  <script src="/User/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/User/js/google-map.js"></script>
  <script src="/User/js/main.js"></script>
    
  </body>
</html>