<%- include("../Layout/header") %>
<%- include("../Layout/navbar") %>

  <body class="goto-here">
		<div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">shoekart777@gmail.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
	          	<img class="one-third order-md-last img-fluid" src="/User/images/bg_1.png" alt="">
		          <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">#New Arrival</span>
		          		<div class="horizontal">
				            <h1 class="mb-4 mt-3">Shoes Collection 2023</h1>
				            <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
				            
				            <p><a href="#" class="btn-custom">Discover Now</a></p>
				          </div>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
	          	<img class="one-third order-md-last img-fluid" src="/User/images/bg_2.png" alt="">
		          <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">#New Arrival</span>
		          		<div class="horizontal">
				            <h1 class="mb-4 mt-3">New Shoes Winter Collection</h1>
				            <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
				            
				            <p><a href="#" class="btn-custom">Discover Now</a></p>
				          </div>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-bag"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div>      
          </div>
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support Customer</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div>    
          </div>
          <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services p-4 py-md-5">
              <div class="icon d-flex justify-content-center align-items-center mb-4">
            		<span class="flaticon-payment-security"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Secure Payments</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">New Shoes Arrival</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
				<% proData.forEach(element => { %>
    			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
    				<div class="product d-flex flex-column">
						<div class="box">
							<% if (element.offerpercentage > 0) { %>
							<div class="cover-ribbon">
								<div class="cover-ribbon-inside"><%= element.offerpercentage %>%</div>
							</div>
							<% } %>
    					<a href="/singleProduct/<%= element._id %>" class="img-prod"><img class="img-fluid" src="/Images/product-images/<%= element.images[0] %>" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3">
    						<div class="d-flex">
    							<div class="cat">
		    						<span><%= element.category.name%></span>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right mb-0">
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    								<a href="#"><span class="ion-ios-star-outline"></span></a>
	    							</p>
	    						</div>
	    					</div>
    						<h3><a href="#"><%= element.name %></a></h3>
    						<div class="pricing">
								<p class="price">
									<span><%= element.price %></span>
								</p>
								<% if (element.offerpercentage > 0) { %>
									<p class="discounted-price">
										<span> <%= Math.floor(element.price - (element.price * element.offerpercentage / 100)) %></span>
									</p>
								<% } %>
							</div>
	    					<p class="bottom-area d-flex px-3">
    							<a href="/add-to-cart/<%= element._id %>" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>
			</div>
				<% }) %>
		
    			
    		</div>
    	</div>
    </section>



    <section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    	<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-4">
						<div class="choose-wrap divider-one img p-5 d-flex align-items-end" style="background-image: url(/User/images/choose-1.jpg);">

    					<div class="text text-center text-white px-2">
								<span class="subheading">Men's Shoes</span>
    						<h2>Men's Collection</h2>
    						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    						<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
    					</div>
    				</div>
					</div>
					<div class="col-lg-8">
    				<div class="row no-gutters choose-wrap divider-two align-items-stretch">
    					<div class="col-md-12">
	    					<div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end" style="background-image: url(/User/images/choose-2.jpg);">
	    						<div class="col-md-7 d-flex align-items-center">
	    							<div class="text text-white px-5">
	    								<span class="subheading">Women's Shoes</span>
			    						<h2>Women's Collection</h2>
			    						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			    						<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
			    					</div>
	    						</div>
	    					</div>
	    				</div>
    					<div class="col-md-12">
    						<div class="row no-gutters">
    							<div class="col-md-6">
		    						<div class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center">
		    							<div class="text text-center px-5">
		    								<span class="subheading">Summer Sale</span>
				    						<h2>Extra 50% Off</h2>
				    						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				    						<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
				    					</div>
		    						</div>
	    						</div>
	    						<div class="col-md-6">
		    						<div class="choose-wrap wrap img align-self-stretch d-flex align-items-center" style="background-image: url(/User/images/choose-3.jpg);">
		    							<div class="text text-center text-white px-5">
		    								<span class="subheading">Shoes</span>
				    						<h2>Best Sellers</h2>
				    						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				    						<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
				    					</div>
		    						</div>
	    						</div>
	    					</div>
    					</div>
    				</div>
    			</div>
  			</div>
    	</div>
    </section>

	<section class="ftco-section ftco-deal bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="/User/images/prod-1.png" class="img-fluid" alt="">
				</div>
				<div class="col-md-6">
					<div class="heading-section heading-section-white">
						<span class="subheading">Deal of the month</span>
						<h2 class="mb-3">Deal of the month</h2>
					</div>
					<div id="timer" class="d-flex mb-4">
						<div class="time" id="days"></div>
						<div class="time pl-4" id="hours"></div>
						<div class="time pl-4" id="minutes"></div>
						<div class="time pl-4" id="seconds"></div>
					</div>
					<div class="text-deal">
						<h2><a href="#">Nike Free RN 2019 iD</a></h2>
						<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span>
						</p>
						<ul class="thumb-deal d-flex mt-4">
							<li class="img" style="background-image: url(/User/images/product-6.png);"></li>
							<li class="img" style="background-image: url(/User/images/product-2.png);"></li>
							<li class="img" style="background-image: url(/User/images/product-4.png);"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

   

	<section class="ftco-gallery">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
					<h2 class="mb-4">Follow Us On Instagram</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
						the blind texts. Separated they live in</p>
				</div>
			</div>
		</div>
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/User/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/User/images/gallery-1.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/User/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/User/images/gallery-2.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/User/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/User/images/gallery-3.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/User/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/User/images/gallery-4.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/User/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/User/images/gallery-5.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/User/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/User/images/gallery-6.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<%- include("../Layout/footer") %>

    
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

	<style>
		  <!-- /* Ribbon 6 */ -->
  <!-- .box {
	border: 1px solid #CCC;
	padding: 40px 25px;
	background: #FFF;
	max-width: 400px;
	position: relative;
	border-radius: 3px;
  margin: 30px auto;
}
.box.ofh {
  overflow: hidden;
} -->
  <!-- .cover-ribbon {
	height: 115px;
	width: 115px;
	position: absolute;
	right: -8px;
	top: -8px;
	overflow: hidden;
  }
  .cover-ribbon .cover-ribbon-inside {
	background: #EA4335;
	color: #FFF;
	transform: rotate(45deg);
	position: absolute;
	right: -35px;
	top: 15px;
	padding: 10px;
	min-width: 127px;
	text-align: center;
  }
  .cover-ribbon .cover-ribbon-inside:before {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #992C23;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	top: 35px;
	transform: rotate(-45deg);
  }
  .cover-ribbon .cover-ribbon-inside:after {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 10px solid #992C23;
	border-bottom: 7px solid transparent;
	position: absolute;
	left: 95%;
	right: 0;
	top: 34px;
	bottom: 0;
	content: "";
	transform: rotate(-45deg);
  } -->
	</style>


	<style>

		.Panel {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 16px;
  border: 1px solid #aaa;
  background: white;
  border-radius: 16px;
  
  /* Important */
  overflow: visible;
}


/**
 * Corner Ribbon Component
 */
.corner-ribbon {
  position: absolute;
  top: -3px;
  left: -3px;
  height: 5.5em;
  width: 5.5em;
  padding: 8px;
  
  .cr-inner {
    position: absolute;
    inset: 0;
    background: #47469B;
    color: white;
    border-radius: 16px 8px 0 8px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  
  .cr-text {
    display: block;
    font-weight: bold;
    font-size: .8em;
    line-height: 1.3;
    transform: rotate(-45deg) translateY(.1em) translateX(-1.8em);
    
    strong {
      display: block;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    background: #47469B;
    z-index: -1;
  }
  
  &::before {
    top: calc(100% - 8px);
    left: 0;
    height: 8px;
    width: 3px;
    border-radius: 0 0 0 50%;
  }
  
  &::after {
    left: calc(100% - 8px);
    top: 0;
    width: 8px;
    height: 3px;
    border-radius: 0 50% 0 0;
  }
}


body {
  text-align: center;
  font-family: sans-serif;
}
		
		</style>

	<script>
    function calculateDiscountedPrice(originalPrice, offerPercentage) {
        return (originalPrice - (originalPrice * offerPercentage / 100)).toFixed(2);
    }
</script>




  <script src="/User/js/jquery.min.js"></script>
  <script src="/User/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/User/js/popper.min.js"></script>
  <script src="/User/js/bootstrap.min.js"></script>
  <script src="/User/js/jquery.easing.1.3.js"></script>
  <script src="/User/js/jquery.waypoints.min.js"></script>
  <script src="/User/js/jquery.stellar.min.js"></script>
  <script src="/User/js/owl.carousel.min.js"></script>
  <script src="/User/js/jquery.magnific-popup.min.js"></script>
  <script src="/User/js/aos.js"></script>
  <script src="/User/js/jquery.animateNumber.min.js"></script>
  <script src="/User/js/bootstrap-datepicker.js"></script>
  <script src="/User/js/scrollax.min.js"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
  <script src="/User/js/google-map.js"></script>
  <script src="/User/js/main.js"></script>
  <script src="https://kit.fontawesome.com/b2f61be1e9.js" crossorigin="anonymous"></script>
   
  </body>
</html>