<%- include("../Layout/Adminlayout/admin_header") %>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
          <%- include('../Layout/Adminlayout/admin_navbar') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
          <%- include('../Layout/Adminlayout/admin_settingspanel') %>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
          <%- include('../Layout/Adminlayout/admin_sidebar') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Products</h4>
                    <p class="card-description">
                      Add products
                    </p>
                    <form class="forms-sample" action="/admin/add-product" method="post" enctype="multipart/form-data"  >
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="category">Catagory</label>
                        <!-- <input type="text" name="catagory" class="form-control" id="catagory" placeholder="Email"> -->
                          <select name="category" class="form-control" id="category">
                            <% categories.forEach(element => { %>
                                <option value= <%= element._id %>> <%= element.name %> </option>
                            <% }) %>
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" class="form-control" id="quantity" placeholder="Quantity">
                      </div>

                       <!-- =========== OFFER ============= -->
                       <div class="form-group">
                        <label for="quantity">Offer</label>
                          <label for="discountPercentage">Discount Percentage:</label>
                          <input type="number" name="discountPercentage" id="discountPercentage" min="0" max="100">
                  
                          <label for="startDate">Start Date:</label>
                          <input type="date" name="startDate" id="startDate">
                  
                          <label for="endDate">End Date:</label>
                          <input type="date" name="endDate" id="endDate">
                      </div>

                      <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" name="price" class="form-control" id="price" placeholder="Price">
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Gender</label>
                          <select name="gender" class="form-control" id="exampleSelectGender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                        </div>
                      <div class="form-group">
                        <label>File upload</label>
                        <input accept="image/*" multiple type="file" name="img" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="colour">Colour</label>
                        <input type="text" name="colour" class="form-control" id="colour" placeholder="Colour">
                      </div>
                      <div class="form-group">
                        <label for="Size">Size</label>
                        <input type="number" name="size" class="form-control" id="Size" placeholder="size">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea  name="description" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
          
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <%- include('../Layout/Adminlayout/admin_footer') %>
                <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>